<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>YNActionSheet.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>CF3F30011CB64BD100CC28AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF3F301A1CB64BD200CC28AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>CF3F30251CB64BD200CC28AE</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
